@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300&family=Poppins:wght@300;400;500&family=Raleway:wght@100;300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #01141a;
}

body::-webkit-scrollbar {
  width: 13px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #002f3e;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #01141a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #06242e;  /* creates padding around scroll thumb */
}


.title-txt{
  font-family: 'Montserrat', sans-serif;
}

.teclogos-div{
  width: 50px;
  display: flex;
  margin-left: 90px;
  margin-bottom: 30px;
  cursor: pointer;
}
.teclogos-div>img{
  margin-right: 10px;
}

.teclogos-div>img:hover{
 transform: scale(1.1);
 transition: 0.2s;
}

h1>a{
  cursor: pointer;
}

.abt-texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;  
  width: 610px;
  margin-left: 90px;
  margin-top: 30px;
}

.abt-strong{
  font-weight: bold;
  cursor: pointer;
}

.abt-strong:hover{
  color: #ffffff;
  transition: 0.2s;
  color: #0077b6;
}

.title-div{
  font-size: 30px;
  margin: 100px 90px 10px 90px;
}

h1>a:hover{
  color: #0096c7;
  transition: 0.5s;
}

ul, li{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: rgb(208, 208, 208);
  margin-right: 35px;
  font-weight: 300;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

li:hover{
  color: rgb(227, 242, 255);
  transition: .2s;
}

.logo{
  margin: 5px;
  width: 135px;
  margin-left: 35px;
}

.logo:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

nav{
  font-size: 20px;
  width: 450px;
  margin-right: 50px;
}

header{
  background-color: #071e26;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px;
}

.photo-div{
  margin-top: 5px;
  margin-left: 400px;
}

.personal-photo{
  width: 390px;
}

.main-content{
 width: auto;
}

.main-container{
  display: flex;
  border-bottom: #08232beb solid;
}

h1, p, h2, h3{
  color: rgb(212, 212, 212);
}

.abtme-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  margin-top: 75px;
  padding-bottom: 45px;
}

.about-main-txt{
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  width: 750px;
}

.main-txt-div{
  display: flex;
  justify-content: center;
}

.abt-strong-2{
  font-weight: bold;
}

.abt-strong-2:hover{
  color: #0077b6;
  transition: 0.2s;
  cursor: pointer;
}

.aboutme-div{
  text-align: center;
  border-bottom: #08232beb solid;
}

/* font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; 
*/