*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #01141a;
}

.title-txt{
  font-family: 'Montserrat', sans-serif;
}

.teclogos-div{
  width: 50px;
  display: flex;
  margin-left: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}
.teclogos-div>img{
  margin-right: 10px;
}

.teclogos-div>img:hover{
 transform: scale(1.1);
 transition: 0.2s;
}

h1>a{
  cursor: pointer;
}

.abt-texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;  
  width: 610px;
  margin-left: 50px;
  margin-top: 30px;
}

.abt-strong{
  font-weight: bold;
}

.abt-strong:hover{
  color: #ffffff;
  transition: 0.2s;
  color: rgb(59, 48, 207);
}

.title-div{
  width: 50%;
  font-size: 30px;
  margin: 50px 50px 10px 50px;
}

h1>a:hover{
  color: rgb(59, 48, 207);
  transition: 0.5s;
}



ul, li{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  color: rgb(208, 208, 208);
  margin-right: 55px;
  font-weight: 200;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

li:hover{
  color: rgb(227, 242, 255);
  transition: .2s;
}

.logo{
  width: 100px;
  margin-left: 35px;
}

.logo:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

nav{
  font-size: 20px;
  width: 450px;
}

header{
  background-color: #071e26;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px;
}

h1, p, h2, h3{
  color: rgb(212, 212, 212);
}